<!-- Main Content -->
<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <!-- Registro Form Section -->
        <div class="col-md-8 col-xs-12 col-sm-12 bg-white p-2 rounded-end">
            <div class="container-fluid">
                <!-- Título -->
                <div class="row mb-2">
                    <h2 class="text-center text-primary">Crea tu cuenta</h2>
                </div>

                <!-- Formulario de registro -->
                <div class="row mb-4">
                    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <!-- Columna Izquierda -->
                            <div class="col-md-6">
                                <!-- Campo Email -->
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="text" id="email" formControlName="email" class="form-control"
                                        placeholder="email@ejemplo.com " required>
                                </div>
                                <!-- Campo Teléfono -->
                                <div class="mb-3">
                                    <label for="telefono" class="form-label">Teléfono</label>
                                    <input type="text" id="telefono" formControlName="telefono" class="form-control"
                                        placeholder="+54 1234567890" required>
                                </div>

                                <!-- Campo Contraseña -->
                                <div class="mb-3">
                                    <label for="contrasena" class="form-label">Contraseña</label>
                                    <input type="password" id="contrasena" formControlName="contrasena"
                                        class="form-control" placeholder="Contraseña" required>
                                </div>

                                <!-- Campo Confirmar Contraseña -->
                                <div class="mb-3">
                                    <label for="confirmarcontrasena" class="form-label">Confirmar Contraseña</label>
                                    <input type="password" id="confirmarcontrasena"
                                        formControlName="confirmarcontrasena" class="form-control"
                                        placeholder="Confirmar contraseña" required>
                                </div>

                                <!-- Mensaje de error si las contraseñas no coinciden -->
                                <div *ngIf="registerForm.hasError('contrasenaMismatch')" class="alert alert-danger">
                                    Las contraseñas no coinciden
                                </div>
                             
                            </div>

                            <!-- Columna Derecha -->
                            <div class="col-md-6">
                                <!-- Campo Nombre -->
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" id="nombre" formControlName="nombre" class="form-control"
                                        placeholder="Tu nombre" required>
                                </div>

                                <!-- Campo Apellido -->
                                <div class="mb-3">
                                    <label for="apellido" class="form-label">Apellido</label>
                                    <input type="text" id="apellido" formControlName="apellido" class="form-control"
                                        placeholder="Tu apellido" required>
                                </div>
                                <!-- Campo Fecha de Nacimiento (Cliente) -->
                                <div class="mb-3">
                                    <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                                    <input type="date" id="fechaNacimiento" formControlName="fechaNacimiento"
                                        class="form-control" required>
                                </div>

                                <!-- Campo Tipo de Documento -->
                                <div class="mb-3">
                                    <label for="tipoDocumento" class="form-label">Tipo de Documento</label>
                                    <select id="tipoDocumento" formControlName="tipoDocumento" class="form-control"
                                        required>
                                        <option value="dni">DNI</option>
                                        <option value="pasaporte">Pasaporte</option>
                                    </select>
                                </div>

                                <!-- Campo Documento (Cliente) -->
                                <div class="mb-3">
                                    <label for="documento" class="form-label">Número de Documento</label>
                                    <input type="number" id="documento" formControlName="documento" class="form-control"
                                        placeholder="Número de Documento" required>
                                </div>

                            </div>
                        </div>

                        <!-- Botón de registro -->
                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-primary w-100">Crear cuenta</button>
                        </div>
                    </form>
                </div>

                <!-- Enlace a inicio de sesión -->
                <div class="row mt-4">
                    <p class="text-center">¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p>
                </div>
            </div>
        </div>
    </div>
</div>