/* En styles.css */
@import './app/components/shared/alert/alert.component.css';
@import './app/styles/buttons.css';



:root {
  --bs-primary-rgb: 81, 114, 125;
  --bs-secondary-rgb: 154, 127, 120;
  --bs-primary: rgb(var(--bs-primary-rgb));
  --bs-secondary: rgb(var(--bs-secondary-rgb));
}



body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}




